.App-header {
	background-color: white;
	//height: 40px !important;
	line-height: 50px;
}

.App-link {
	color: #61dafb;
}

.nav-menu-item {
	margin-right: 10px !important;
	margin-left: 0 !important;
}

.nav-toolbar {
	justify-content: space-between;
	width: 50%;
	margin: 0 auto;
}

.logo {
	cursor: pointer;
}

.actionIcon {
	margin-right: 10px;
	cursor: pointer;
	&.filled {
		color: red;
	}
}
